<form [formGroup]="dataForm" (ngSubmit)="submitData()">
  <mat-form-field>
    <mat-label>Please insert some text</mat-label>
    <input matInput type="text" formControlName="text"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Please insert a number</mat-label>
    <input matInput type="number" formControlName="count" />
  </mat-form-field>
  <div style="display: flex; justify-content: space-around;">
    <button mat-flat-button color="primary" type="submit">Send Data</button>
    <button mat-flat-button color="warn" (click)="resetForm()">Reset</button>
  </div>
</form>
