.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  width: 40%;
  height: auto;
}
