<div *ngIf="data" class="data-container">
  <mat-label>Data from main app:</mat-label>
  <mat-label>Text:</mat-label>
  <p>{{data.text}}</p>
  <mat-label>Count:</mat-label>
  <p>{{data.count}}</p>
</div>
