img {
  width: auto;
  height: 300px;
}

.content-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.radio-group-container {
  display: flex;
  width: 20vw;
  justify-content: space-around;
}

.row-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.image-container {
  height: 40%;
  width: auto;
}
