<div class="content-container">
  <img class="image-container" [src]="currentImage" alt="Broken image link">
  <mat-radio-group
    class="radio-group-container"
    [value]="flowerImagePath"
    (change)="onSelectionChanged($event)">
    <mat-radio-button [value]="flowerImagePath">Flower image</mat-radio-button>
    <mat-radio-button [value]="puppiesImagePath">Puppie image</mat-radio-button>
  </mat-radio-group>
  <app-text-form (sendText)="sendText.emit($event)"></app-text-form>
</div>
