<div class="main-content">
  <h1>Main App with Events</h1>
  <mat-radio-group class="radio-group-container" (change)="changeApp($event)">
    <mat-radio-button *ngFor="let app of appLocationService.apps" class="radio-button-container" [value]="app.value">{{app.name}}</mat-radio-button>
  </mat-radio-group>
  <app-data-creator (sendData)="sendData($event)"></app-data-creator>
</div>
<ngx-app-integration [appUrl]="(app$|async)" [sendData]="myData" (reciveData)=reciveData($event)></ngx-app-integration>
