.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.foreign-app-container {
  margin: 2em auto 0 auto;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
  height: 80%;
}

.radio-group-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.radio-button-container {
  padding: 10px;
}
