<form [formGroup]="textForm" (ngSubmit)="onSubmit()">
  <mat-label>Please type a text:</mat-label>
  <mat-form-field>
    <textarea matInput #myText formControlName="text"></textarea>
  </mat-form-field>
  <mat-label>You typed:</mat-label>
  <p>{{myText.value}}</p>
  <div>
    <button mat-flat-button color="primary" type="submit">Send Text</button>
    <button mat-flat-button color="warn" (click)="onReset()">Reset Text</button>
  </div>
</form>
