<div>
  <app-dummy (sendText)="onSendText($event)"></app-dummy>
  <div style="display: flex; justify-content: center; margin-top: 4em;">
    <button mat-raised-button color="primary" (click)="onClick()">Click me</button>
  </div>
  <app-data-processor [data]="data"></app-data-processor>
</div>
<div class="routing-block">
  <button mat-flat-button color="primary" routerLink="/home">Route</button>
  <router-outlet></router-outlet>
</div>
