<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | {{{ PRODUCT_NAME }}}</title>
    <style>body { overflow: hidden; }</style>
  </head>
  <body style="text-align: center">
    <canvas id="unity-canvas" style="width: 100%; height: 100%; margin: 0"></canvas>
    <script src="Build/{{{ LOADER_FILENAME }}}"></script>
    <script>
      const buildUrl = "Build";
      createUnityInstance(document.querySelector("#unity-canvas"), {
        dataUrl: buildUrl + "/{{{ DATA_FILENAME }}}",
        frameworkUrl: buildUrl +  "/{{{ FRAMEWORK_FILENAME }}}",
        codeUrl: buildUrl + "/{{{ CODE_FILENAME }}}",
        streamingAssetsUrl: "StreamingAssets",
        companyName: "{{{ COMPANY_NAME }}}",
        productName: "{{{ PRODUCT_NAME }}}",
        productVersion: "{{{ PRODUCT_VERSION }}}",
        // matchWebGLToCanvasSize: false, // Uncomment this to separately control WebGL canvas render size and DOM element size.
        // devicePixelRatio: 1, // Uncomment this to override low DPI rendering on high DPI displays.
      }).then((unityInstance) => {
          window.unityInstance = unityInstance;
      });
      const canvas = document.querySelector('#unity-canvas');
      canvas.width = window.innerWidth;
      canvas.height = window.innerHeight;
    </script>
  </body>
</html>