<div class="foreign-app-container">
  <!-- <object #myApp [data]="app" width="100%" height="100%" type="text/*"></object> -->
  <!-- It's not advised to use allow-scripts and allow-same-origin because it lets the embedded app remove the sandbox attribute -->
  <iframe #myApp  [src]="app" width="100%" height="100%" frameBorder="0" sandbox="allow-scripts allow-forms allow-same-origin"></iframe>
</div>
